nav {
  position    : relative;
  grid-column : 1/-1;
  padding : var(--space-4-8) var(--space-6-4) 0;
  display : flex;
  height : 15rem;
  justify-content :space-between;
  align-content : center;
  align-items: center;

  .menu {
    position        : relative;
    z-index         : 1;
    grid-column     : 2/3;
    display         : flex;
    width           : 60%;
    justify-content : start;
    }
  .item{
    font-size : var(--size-1-4);

    font-family : IRANYekanWebBold, serif;
    color : var(--color-Grey-light-1);
    padding-left : var(--space-6-4);

    }


  .login-cart{
    padding-bottom : var(--space-1-2);
    display : flex;
    position : relative;
    z-index : 1;
    font-family      : IRANYekanWebBold, serif;
    font-size : var(--size-1-4);
   .login{
     @include center;
     box-shadow       : var(--shadow-light);
     width            : 14rem;
     height           : 4rem;
     background-color : var(--color-Secondary);
     border-radius    : 3rem;
     a{
       color : var(--color-Grey-dark-1);

       }
     }
    .cart{
      @include center;
      margin-right :var(--space-2-4);

      box-shadow: var(--shadow-light);
      width : 14rem;
      height : 4rem;
      background-color :transparent;
      border: 3px solid #FBD862;
      border-radius: 3rem;
      }
    a{
      color : var(--color-white);

      }
    }

  .nav-curve {
    width    : 105%;
    height   : 50rem;
    position : absolute;
    top      : 0;
    left     : 0;

    }

  }
