nav {
  position        : relative;
  grid-column     : 1/-1;
  padding         : var(--space-4) var(--space-6-4) 0;
  display         : flex;
  height          : 15rem;
  justify-content : space-between;
  align-content   : start;
  align-items     : start;

  @media only screen and (max-width : 700px) {

    padding : var(--space-4) var(--space-3-2) 0;

    }

  .login-cart {
    display     : flex;
    position    : relative;
    z-index     : 1;
    font-family : IRANYekanWebBold, serif;
    font-size   : var(--size-1);

    .login {
      @include center;
      box-shadow       : var(--shadow-light);
      width            : 10rem;
      height           : 4rem;
      background-color : var(--color-Secondary);
      border-radius    : 3rem;

      a {
        color : var(--color-Grey-dark-1);

        }
      }

    .cart {
      @include center;
      margin-right     : var(--space-1-6);

      box-shadow       : var(--shadow-light);
      width            : 10rem;
      height           : 4rem;
      background-color : transparent;
      border           : 3px solid #FBD862;
      border-radius    : 3rem;
      }

    a {
      color : var(--color-white);

      }
    }

  .nav-curve {
    width    : 105%;
    height   : 50rem;
    position : absolute;
    top      : 0;
    left     : 0;

    }

  }

////

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display : none;
  }

.navbar {
  width : 100%;
  }

.navbar-container {
  position        : relative;
  z-index         : 1;
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  align-content   : center;
  }

.menu-items {
  display        : flex;
  padding-bottom : 4rem;
  }

.menu-items li {
  list-style    : none;
  margin-left   : 1.5rem;
  margin-bottom : 0.5rem;
  font-size     : 1.2rem;
  }

.menu-items a {
  text-decoration : none;
  font-weight     : 500;
  transition      : color 0.3s ease-in-out;
  padding-left    : var(--space-6-4);
  font-family     : IRANYekanWebBold, Arial, serif;

  }

.menu-items a:hover {
  color       : var(--color-white);
  font-family : IRANYekanWebExtraBold, Arial, serif;

  transition  : color 0.3s ease-in-out;
  }

.res-login {
  display : none;
  }

@media (max-width : 57rem) {

  .navbar {
    z-index : 55;
    }
  .login-cart {
    visibility : hidden;
    display    : none;
    }

  .res-login {
    display  : block;
    position : absolute;
    left     : var(--space-4-8);
    top      : 5.5rem;

    img {
      cursor       : pointer;
      margin-right : 1rem;
      width        : 4.8rem;
      height       : 5rem;
      object-fit   : cover;
      }
    }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    position : relative;
    }

  .navbar-container {
    display  : block;
    position : relative;
    height   : 6.4rem;
    }

  .navbar-container input[type="checkbox"] {
    position : absolute;
    display  : block;
    height   : 3.2rem;
    width    : 2.8rem;
    top      : 6.2rem;
    right    : 2rem;
    z-index  : 5;
    opacity  : 0;

    }

  .navbar-container .hamburger-lines {

    height          : 23px;
    width           : 35px;
    position        : absolute;
    top             : 6.4rem;
    right           : .6rem;
    z-index         : 2;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    }

  .navbar-container .hamburger-lines .line {
    display       : block;
    height        : 4px;
    width         : 100%;
    border-radius : 10px;
    background    : var(--color-white);
    }

  .navbar-container .hamburger-lines .line1 {
    transform-origin : 0% 0%;
    transition       : transform 0.4s ease-in-out;
    }

  .navbar-container .hamburger-lines .line2 {
    transition : transform 0.2s ease-in-out;
    }

  .navbar-container .hamburger-lines .line3 {
    transform-origin : 0% 100%;
    transition       : transform 0.4s ease-in-out;
    }

  .navbar .menu-items {
    margin-top     : -4rem;
    @include glassBox;
    background     : rgba(228, 240, 251, 0.77);
    border-radius  : var(--bdrs-3);
    min-height     : 100vh;
    width          : 70%;
    transform      : translate(150%);
    flex-direction : column;
    margin-right   : -55px;
    padding        : 15rem var(--space-6-4) 0 var(--space-3-2);

    transition     : transform 0.5s ease-in-out;
    }

  .navbar .menu-items li {
    padding       : var(--space-4);
    margin-bottom : 1.5rem;
    font-size     : var(--size-1-8);
    border-bottom : 1px solid linear-gradient(251.6deg, rgba(141, 174, 198, 0.31) 4%, rgba(141, 174, 198, 0.1829) 33.42%, rgba(141, 174, 198, 0.1674) 62.46%, rgba(255, 255, 255, 0.31) 90.03%);

    a {
      color       : var(--color-Grey-dark-1);
      font-family : IRANYekanWebBold, Arial, serif;

      }
    }
  .level-1 {
    box-shadow : 0px 10px 14px rgba(74, 58, 255, 0.01), 0px 8px 16px rgba(23, 15, 73, 0.03);

    }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform : translateX(0);
    }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform : rotate(35deg);
    }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform : scaleY(0);
    }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform : rotate(-35deg);
    }
  }

ul {
  list-style : none;
  margin     : 0;
  padding    : 0;
  }

a, a:hover, a.active, a:active, a:visited, a:focus {
  color           : var(--color-Primary);
  text-decoration : none;

  }

.content {
  margin : 50px 100px 0px 100px;
  }

.exo-menu {
  width      : 100%;
  float      : left;
  list-style : none;
  position   : relative;
  }

.exo-menu > li { display : inline-block;float : left;}

.exo-menu > li > a {
  color              : var(--color-Grey-dark-1);

  text-decoration    : none;
  text-transform     : uppercase;
  -webkit-transition : color 0.2s linear, background 0.2s linear;
  -moz-transition    : color 0.2s linear, background 0.2s linear;
  -o-transition      : color 0.2s linear, background 0.2s linear;
  transition         : color 0.2s linear, background 0.2s linear;
  }

.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover {
  //background-color : red;
  }

.exo-menu i {
  float        : left;
  font-size    : 18px;
  margin-right : 6px;
  line-height  : 20px !important;
  }

li.drop-down,
.flyout-right,
.flyout-left {
  position : relative;
  z-index  : 33;
  @media (max-width : 767px) {
    padding-left  : 0 !important;
    padding-right : 0 !important;

    }
  .parent-item{
    padding-right : var(--space-4);
    }
  }

li.drop-down:before {
  //content     : url("/img/icons/arrow-left.svg");
  color              : #FFF;
  content            : '';
  background-color   : var(--color-Primary-light);
  -webkit-mask-image : url("/img/icons/arrow-left.svg");
  -webkit-mask-size  : cover;
  font-family        : FontAwesome, serif;
  font-style         : normal;
  display            : inline;
  position           : absolute;
  width              : 1rem;
  height             : 1rem;
  transform          : rotate(270deg);
  right              : 5rem;
  top                : .5rem;
  @media (max-width : 767px) {
    right              : 10rem;
    top                : 4.8rem;
    background-color   : var(--color-Primary-dark);


    }

  }

li.drop-down > ul {
  top : 2.1rem;
  right         : -.2rem;
  min-width     : 23rem;
  background    : rgba(255, 255, 255, 0.77);
  @include glassBox;
  border-radius : var(--bdrs-1);

  > li {
    border-bottom : .1rem solid var(--color-Primary-dark);
    margin-left   : 0;
    @media (max-width : 767px) {
      padding            :var(--space-0-8) var(--space-2-4) !important;
      }
    }

  li:last-child {
    border-bottom : none !important;
    }
  @media (max-width : 767px) {
    background    :transparent;
    box-shadow       : none ;
    backdrop-filter:none;
    border           : none;
    padding            : 0 !important;
    }
  }

//.drop-down-ul {display : none;}

.flyout-right > ul,
.flyout-left > ul {
  border        : var(--bdr);
  @include glassBox;
  background    :#d3dae2;
  border-radius : var(--bdrs-1);
  top           : 50%;
  min-width     : 23rem;
  margin-right  : .1rem;
  display       : none;

  > li {
    border-bottom : .1rem solid var(--color-Primary-dark);
    margin-left   : 0;
    @media (max-width : 767px) {
      padding            :var(--space-0-8) var(--space-2-4) !important;
      }
    }

  li:last-child {
    border-bottom : none !important;
    }
  @media (max-width : 767px) {
    background    :transparent;
    box-shadow       : none ;
    border           : none;
    padding            : 0 !important;
    }
  }

li.drop-down > ul > li > a,
.flyout-right ul > li > a,
.flyout-left ul > li > a {
  color              : var(--color-Grey-dark-1);
  display            : block;
  font-family        : IRANYekanWebBold, Arial, serif;
  font-size          : 1.2rem;
  //background-color : red;
  text-decoration    : none;
  padding            : var(--space-2-4);

  -webkit-transition : color 0.2s linear, background 0.2s linear;
  -moz-transition    : color 0.2s linear, background 0.2s linear;
  -o-transition      : color 0.2s linear, background 0.2s linear;
  transition         : color 0.2s linear, background 0.2s linear;
  &:hover {
    font-family : IRANYekanWebExtraBold, Arial, serif;
    color       : var(--color-Grey-dark-1);
    }
  }

.flyout-right ul > li > a,
.flyout-left ul > li > a {
  //border-bottom : 1px dotted #B8C7BC;
  }

/*Flyout Mega*/
.flyout-mega-wrap {

  top       : 0;
  right     : 0;
  left      : 100%;
  width     : 100%;
  //display:none;
  height    : 100%;
  padding   : 15px;
  min-width : 742px;

  }

h4.row.mega-title {
  margin-top     : 0;
  margin-bottom  : 1rem;
  font-size      : 14px;
  padding-left   : 15px;
  padding-bottom : 13px;
  text-transform : uppercase;
  //border-bottom: .1rem solid var(--color-Grey-light-1);
  }

.flyout-mega ul > li > a {
  font-size   : 90%;
  line-height : 25px;
  color       : #FFF;
  font-family : inherit;
  }

.flyout-mega ul > li > a:hover,
.flyout-mega ul > li > a:active,
.flyout-mega ul > li > a:focus {
  text-decoration  : none;
  background-color : transparent !important;
  color            : #CCC !important
  }

/*mega menu*/

.mega-menu {
  left          : 0;
  z-index       : 33;
  right         : 0;
  top : 2.1rem;

  display       : none;
  //margin-top   : var(--space--4);
  min-height    : 100%;
  border        : var(--bdr);
  background    : rgba(255, 255, 255, 0.77);
  border-radius : var(--bdrs-3);
  @include glassBox;

  .row {
    display : flex;

    .col-1 {
      width   : 25%;
      padding : var(--space-4) var(--space-6-4) var(--space-6-4) 0;

      }

    .col-2 {
      width   : 25%;
      padding : var(--space-4) 0 var(--space-6-4) 0;

      }

    a {
      font-family : IRANYekanWebRegular, Arial, serif;

      &:hover {
        font-family : IRANYekanWebExtraBold, Arial, serif;
        color       : var(--color-Grey-dark-1);
        }
      }

    }

  h4.row.mega-title {
    color          : var(--color-Primary-dark);
    font-family    : IRANYekanWebBold, Arial, serif;
    font-size      : var(--size-1-4);
    padding-right  : 0 !important;
    text-transform : uppercase;
    padding-bottom : var(--space-2-4);

    padding-top    : 15px;
    }

  .special-content {
    @include glassBox;
    background     : var(--color-Primary-gradient);
    justify-self   : end;
    width          : 50%;
    display        : flex;
    padding        : var(--space-4) var(--space-6-4) var(--space-6-4) var(--space-6-4);
    border-radius  : var(--bdrs-3) 0 0 var(--bdrs-3);
    flex-direction : column;

    .item {

      }

    h4 {

      display         : flex;
      justify-content : start;
      }

    li {
      padding-bottom : var(--space-2-4);
      display        : flex;

      .special-content-icon {
        @include center;

        width            : 6.5rem;
        height           : 6rem;
        background-color : var(--color-white);
        box-shadow       : 0px 4px 20px rgba(23, 15, 73, 0.08);
        border-radius    : var(--bdrs-1);
        margin-left      : var(--space-1-6);

        img {
          width  : 4.5rem;
          height : 4.5rem;
          }
        }

      .special-content-text {
        display        : flex;
        flex-direction : column;

        a {
          padding : var(--space-0-4) 0;
          }

        span {
          font-family : IRANYekanWebLigth, Arial, serif;
          font-size   : var(--size-1);
          }
        }
      }
    }
  }

.mega-menu ul li a {
  padding-bottom : var(--space-2-4);

  color          : var(--color-Grey-dark-1);
  font-family    : IRANYekanWebLigth, Arial, serif;

  font-size      : var(--size-1-4);

  display        : block;
  }

ul.stander li a {
  padding : 3px 0px;
  }

ul.description li {
  padding-bottom : 12px;
  line-height    : 8px;
  }

ul.description li span {
  color     : #CCC;
  font-size : 85%;
  }

a.view-more {
  border-radius : 1px;
  margin-top    : 15px;
  padding       : 2px 10px !important;
  line-height   : 21px !important;
  display       : inline-block !important;
  }

a.view-more:hover {
  color      : var(--color-Grey-dark-1);
  background : #0DADEF;
  }

ul.icon-des li a i {
  color         : var(--color-Grey-dark-1);

  width         : 35px;
  height        : 35px;
  border-radius : 50%;
  text-align    : center;
  line-height   : 35px !important;
  }

ul.icon-des li {
  width         : 100%;
  display       : table;
  margin-bottom : 11px;
  }

/*common*/
.flyout-right ul > li > a,
.flyout-left ul > li > a,
.flyout-mega-wrap,
.mega-menu {
  }

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left > ul:hover,
li.flyout-right > ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover + ul,
li.flyout-right a:hover + ul,
.blog-drop-down > a:hover + .Blog,
li.drop-down > a:hover + .drop-down-ul,
.images-drop-down > a:hover + .Images,
.mega-drop-down a:hover + .mega-menu,
li.flyout-mega > a:hover + .flyout-mega-wrap {
  display : block;
  }

/*responsive*/
@media (min-width : 767px) {
  .exo-menu > li > a {
    display : block;
    }
  .mega-menu, .flyout-mega-wrap, .Images, .Blog, .flyout-right > ul,
  .flyout-left > ul, li.drop-down > ul {
    position : absolute;
    }
  .flyout-right > ul {
    left : 100%;
    }
  .flyout-left > ul {
    right : 100%;
    }
  }

@media (max-width : 767px) {
  .mega-drop-down {
    padding-left  : 0 !important;
    padding-right : 0 !important;

    .fa-list {
      padding : 0 0 0 var(--space-4);
      }
    }
  .row {
    margin-top       : var(--space-4);
    padding-right    : 0 !important;
    flex-direction   : column;
    display          : flex;
    background-color : transparent;
    border-radius    : 0;
    box-shadow       : none;
    border           : none;
    width            : 100%;

    .mega-title {
      color      : var(--color-white);
      margin-top : 0 !important;
      padding    : var(--space-3-2) !important;
      font-size  : var(--size-1-8);
      }

    .col-1, .col-2, .col-3 {
      padding       : 0 !important;
      padding-right : var(--space-3-2);
      width         : 100% !important;
      }

    .bc-text {
      background-color : var(--color-Primary-dark);
      margin-bottom    : var(--space-3-2);
      text-align       : center;

      h4 {
        font-size : 1.6rem !important;
        color     : var(--color-white) !important;
        }
      }
    }
  .mega-menu {
    background-color : transparent;
    border-radius    : 0;
    box-shadow       : none;
    border           : none;

    li {
      padding : var(--space-1-2) var(--space-4) !important;
      }
    }
  .special-content {
    border-radius   : 0;
    box-shadow      : none !important;
    backdrop-filter : none;
    }
  }

