@mixin center() {
  display         : flex;
  justify-content : center;
  align-content   : center;
  align-items     : center;
  }

@mixin glassBox() {
  box-shadow      : 0 1rem 1.4rem rgba(74, 58, 255, 0.01), 0 .8rem 1.6rem rgba(23, 15, 73, 0.03);
  backdrop-filter : blur(100px);
  }

.swiper {
  position       : static;
  width          : 100%;
  height         : 100%;
  }

.swiper-wrapper{

  }



.swiper-pagination-bullet-active {
  background-color :var(--color-Tertiary) !important;

  }

.swiper-pagination-bullet {
  background-color :var(--color-Grey);

  width  : 1rem !important;
  height : 1rem !important;
  }

.mySwiper , .mySwiperNashr{
  .swiper-slide {
    user-select: text;

    width           : 100%;
    display         : flex;
    align-items: center;

    @media only screen and (max-width : 65rem) {
      justify-content : center;
      justify-items: center;


      }
    @media only screen and (max-width : 32rem) {

      justify-content : start;
      justify-items: start;

      }

    }

  .swiper-button-prev, .swiper-button-next {

    width  : 4.5rem;
    height : 4.5rem;
    }

  .swiper-button-prev {

    &::after {
      display : none;
      }

    //background-image: url("/img/icons/left-arrow-slider.svg") !important;
    }

  .swiper-button-next {
    //background-image: url("/img/icons/left-arrow-slider.svg") !important;
    &::after {
      display : none;
      }
    }

  .swiper-button-prev {
    position : absolute;
    top      : 55%;
    right    : 13vh;
    @media only screen and (max-width : 57rem) {
      right : 10vh;
      }
    @media only screen and (max-width : 45rem) {
      right : 8vh;
      }
    @media only screen and (max-width : 37rem) {
      right : 12vh;
      top      : 33%;

      }
    @media only screen and (max-width : 32rem) {
      right : 3vh;

      }

    }

  .swiper-button-next {
    position : absolute;
    top      : 55%;
    right    : 22vh;
    @media only screen and (max-width : 57rem) {
      right : 18vh;
      }
    @media only screen and (max-width : 45rem) {
      right : 15vh;
      }
    @media only screen and (max-width : 37rem) {
      right : 15vh;
      top      : 33%;


      }
    @media only screen and (max-width : 32rem) {
      right : 8vh;
      }

    }

  }

.mySwiperBullet {
  .swiper-slide {
    width           : 100%;
    display         : flex;
    user-select: text;

    align-items: center;
    justify-content : center;
    }
  .swiper-pagination{
    position: absolute;
    bottom : -15%;
    }

  }
