main {
  display               : grid;
  grid-template-columns : var(--space-4-8) 1fr var(--space-4-8);
  min-height            : 100vh;
  z-index               : 100;
  grid-row-gap          : var(--space-6-4);
  position              : relative;
  overflow              : hidden;

  }

.pattern {
  fill-opacity : .3;
  position     : absolute;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : 100%;
  z-index      : -5;
  }

.nav-curve {
  width    : 105%;
  height   : 40rem;
  position : absolute;
  top      : 88vh;
  left     : 0;
  z-index  : 88;
  margin : -2rem;

  @media only screen and (max-width : 62rem) {
    top : 47vh;
    }
  }
.nav-without-slider{
  top      : 5rem !important;

  }

/*.luminance-mask {
  mask-mode: luminance;
  webkit-mask-mode: luminance;
  }

.alpha-mask {
  mask-mode: alpha;
  webkit-mask-mode: alpha;
  }

.gradient-mask {
  display: block;
  width: 100%;
  //height : 100%;
  object-fit: cover;
  mask-image: linear-gradient(0deg,black, white 30%, transparent 50%);
  -webkit-mask-image: linear-gradient(0deg,transparent,white 20%,black 60%, white 80%, transparent);

  }*/















