.account-container {
  display               : grid;
  grid-auto-flow        : column;
  grid-column-gap       : 5%;
  position              : relative;
  justify-self          : center;
  min-height            : 50vh;
  grid-column           : 2/3;
  width                 : 100%;
  grid-template-columns : 27% 68%;
  @media only screen and (max-width : 57rem) {
    grid-template-columns : 30% 65%;

    }
  @media only screen and (max-width : 45rem) {
    grid-template-columns : 100%;
    grid-row-gap          : 5%;
    grid-column-gap       : 0;
    }

  .account-sidebar {
    width           : 100%;
    height : 46rem ;
    padding         : var(--space-4-8) 0;
    grid-column     : 1/2;
    grid-row        : 1/2;
    //@include glassBox;
    background      : var(--color-Primary-light-gradient);
    border-radius   : var(--bdrs-3);
    display         : flex;
    justify-content : center;
    align-content   : center;
    align-items     : center;
    flex-direction  : column;
    @media only screen and (max-width : 45rem) {
      grid-column : 1/3;
      grid-row    : 1/2;
      }

    > * {
      margin-bottom : var(--space-1-6);
      }

    img {
      border        : 5px solid var(--color-Secondary);
      width         : 12.5rem;
      height        : 12.5rem;
      border-radius : 55%;
      box-shadow: var(--shadow-light);
      }

    h3 {
      color : var(--color-Primary-dark);
      font-family : IRANYekanWebExtraBold, Arial, serif;
      font-size   : var(--size-2);
      margin      :var(--space-2-4) 0 var(--space-4);

      }

    div {
      cursor: pointer;
      width           : 80%;
      height          : 7rem;
      text-align      : center;
      //background: linear-gradient(180deg, rgba(228, 240, 251, 0) 0%, rgba(228, 240, 251, 0.16) 3%, rgba(229, 241, 251, 0.45) 10%, #E6F2FC 20%, #E6F2FC 42%, #E6F2FC 65%, #E6F2FC 84.16%, rgba(228, 240, 251, 0) 99.95%);

      font-family     : IRANYekanWebRegular, Arial, serif;
      font-size       : var(--size-1-8);
      color           : var(--color-Grey);
      display         : flex;
      justify-content : center;
      align-content   : center;
      align-items     : center;

      &:hover{
        background-color : var(--color-Secondary);
        font-family     : IRANYekanWebBold, Arial, serif;
        color           : var(--color-Grey-dark-1);
        border-radius : var(--bdrs-1);

        }

      p {
        display         : flex;
        justify-content : center;
        align-content   : center;
        align-items     : center;

        width           : 100%;
        }
      }
    }

  }

.account-content-wrapper {
  overflow      : auto;
  min-height    : 44rem;
  max-height    : 200vh;
  width         : 100%;
  border-radius : var(--bdrs-3);
  grid-column   : 2/3;
  grid-row      : 1/2;
  background: linear-gradient(180deg, rgba(228, 240, 251, 0) 0%, rgba(228, 240, 251, 0.16) 3%, rgba(229, 241, 251, 0.45) 10%, #E6F2FC 20%, #E6F2FC 42%, #E6F2FC 65%, #E6F2FC 84.16%, rgba(228, 240, 251, 0) 99.95%);
  //border          : var(--bdr);
  padding         :var(--space-6-4) var(--space-4-8) var(--space-4-8);
  @media only screen and (max-width : 45rem) {
    grid-column : 1/3;
    grid-row    : 3/4;
    }

  .account-orders {
    width           : 100%;
    height          : 100%;
    overflow-x      : auto;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    @media only screen and (max-width : 37rem) {
      justify-content : start;

      }

    }

  .account-order {
    padding         : var(--space-4);
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-content   : center;
    margin-bottom   : var(--space-4-8);

    background      : var(--color-Primary-light-gradient);
    border-radius   : var(--bdrs-1);
    min-width       : 74rem;
    height          : 21rem;
    @media only screen and (max-width : 45rem) {
      min-width : 55rem;

      }

    div {

      display         : flex;
      justify-content : space-between;
      }

    }

  .row-1 {
    margin-bottom : var(--space-0-4);

    p {
      font-family : IRANYekanWebBold, Arial, serif;
      font-size   : var(--size-1-4);
      color       : var(--color-Grey);

      span {
        font-family    : IRANYekanWebExtraBold, Arial, serif;
        font-size      : var(--size-1-4);
        text-transform : uppercase;
        color          : var(--color-Grey-dark-1);
        }
      }
    }

  .row-2 {
    margin-bottom : var(--space-3-2);

    p {
      font-family : IRANYekanWebRegular, Arial, serif;
      font-size   : var(--size-1);
      color       : var(--color-Grey);

      span {
        font-family  : BTitrBold, Arial, serif;
        font-size    : var(--size-1);
        color        : var(--color-Grey-dark-1);
        padding-left : var(--space-0-4);

        }
      }

    &-price {
      font-family : BTitrBold, Arial, serif;
      font-size   : var(--size-1-8) !important;
      color       : var(--color-Tertiary);

      }
    }

  .row-3 {

    .products-count {
      font-family : BTitrBold, Arial, serif;
      font-size   : var(--size-1-8);
      padding-top : 2rem;
      color       : var(--color-Grey-dark-1);

      img {
        width  : 2rem;
        height : 2rem;
        }
      }

    img {
      width         : 8.9rem;
      height        : 6.3rem;
      object-fit    : cover;
      border-radius : var(--bdrs-1);
      margin-left   : var(--space-0-8);

      }

    .account-more-info {
      justify-self    : end;
      display         : flex;
      justify-content : center;
      height          : 1rem;
      align-items     : center;
      align-self      : end;

      a {
        font-family   : IRANYekanWebBold, Arial, serif;
        font-size     : var(--size-1);
        color         : var(--color-Grey-dark-1);
        border-bottom : .1rem solid var(--color-Grey-dark-1);
        @media only screen and (max-width : 42rem) {

          font-size : 1.2rem;

          }
        }

      .arrow-left {
        margin : var(--space-0-4) var(--space-1-2) 0 0;
        width  : 1.8rem;
        height : 1.8rem;
        }
      }

    }

  }

.account-info{


  h5 {
    margin-bottom : var(--space-1-6);
    font-size     : var(--size-1-4);
    font-family   : IRANYekanWebBold, Arial, serif;
    @media only screen and (max-width : 42rem) {
      font-size : var(--size-1-8);

      }
    }

  input {
    font-family   : inherit;
    color         : inherit;
    box-shadow    : var(--shadow-light);
    padding       : var(--space-1-6);
    border        : none;
    width         : 60%;
    border-radius : var(--bdrs-1);
    height        : 5.5rem;
    border-bottom : 3px solid transparent;
    display       : block;
    margin-bottom : var(--space-3-2);

    &:focus {
      outline : none;
      //border-bottom : 3px solid var(--c-green);

      }

    &:focus:invalid {
      border-bottom : 3px solid red;
      }

    &::-webkit-input-placeholder {
      color : var(--color-Grey);
      }
    }

  textarea {
    box-shadow    : var(--shadow-light);
    padding       : var(--space-1-6);

    width         : 100%;
    font-size     : 1.4rem;
    line-height   : 2rem;
    border-radius : var(--bdrs-1);
    transition    : all .2s;
    border        : none;
    resize        : none;

    &:focus {
      outline : none;
      }
    }

  button {
    margin-top       : var(--space-3-2);
    font-size        : var(--size-1-4);
    font-family      : IRANYekanWebBold, Arial, serif;
    @include center;
    cursor           : pointer;
    grid-column-gap  : 1.5rem;
    border           : none;
    width            : 12.8rem;
    height           : 4.5rem;
    border-radius    : var(--bdrs-3);
    background-color : var(--color-Secondary);
    }

  }


.hide{
  display : none !important;
  }
